.flashcard {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  height: 300px;
}

.word {
  font-size: 20pt;
  color: blue;
  font-weight: bold;
}

.definition {
  display: none;
}
